
cmake-build-debug/

cmake-build-release/

.cache/

build/

docs/_build/
docs/_doxygen/
docs/_static/
docs/_templates
docs/api

targets/engineAndroid/.idea/

cmake-build-debug_lib/

assets/androidInstallationLogs.txt

.idea/

cmake-build-testing/

libs/SDL
libs/SDL_net
libs/SDL_image
libs/libpng

/cmake-build-release_lib/

submodules/RmlUi
CMakeFiles
cmake-build-debug

submodules/box2d
submodules/glm
submodules/entt
submodules/freetype
submodules/libdecor
submodules/libpng
submodules/SDL
submodules/SDL_image
submodules/SDL_mixer
submodules/SDL_net

targets/

output/

vcpkg

cmake-build-debug-mingw_clang/.cmake/api/v1/query/cache-v2

cmake-build-debug-mingw_clang/.cmake/api/v1/query/cmakeFiles-v1

cmake-build-debug-mingw_clang/.cmake/api/v1/query/codemodel-v2

cmake-build-debug-mingw_clang/.cmake/api/v1/query/toolchains-v1

cmake-build-debug-mingw_clang/.cmake/api/v1/reply/cache-v2-d9cf2ce0bc5a73ab4125.json

cmake-build-debug-mingw_clang/.cmake/api/v1/reply/cmakeFiles-v1-a7c0661da37a0368ea6b.json

cmake-build-debug-mingw_clang/.cmake/api/v1/reply/codemodel-v2-0e47959778e037ef7c7f.json

cmake-build-debug-mingw_clang/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json

cmake-build-debug-mingw_clang/.cmake/api/v1/reply/index-2022-08-12T23-36-26-0642.json

cmake-build-debug-mingw_clang/.cmake/api/v1/reply/target-GDE-Debug-280116aefdcfd512c231.json

cmake-build-debug-mingw_clang/.cmake/api/v1/reply/toolchains-v1-9308c8f498dca15d7bdf.json

cmake-build-debug-mingw_clang/.ninja_deps

cmake-build-debug-mingw_clang/.ninja_log

cmake-build-debug-mingw_clang/assets/config/android.yaml

cmake-build-debug-mingw_clang/assets/config/desktop.json

cmake-build-debug-mingw_clang/assets/config/desktop.yaml

cmake-build-debug-mingw_clang/assets/fonts/arial.ttf

cmake-build-debug-mingw_clang/assets/fonts/retro.ttf

cmake-build-debug-mingw_clang/assets/player/run.png

cmake-build-debug-mingw_clang/assets/prefabs/square.yaml

cmake-build-debug-mingw_clang/assets/scenes/Editor.json

cmake-build-debug-mingw_clang/assets/scenes/Editor.yaml

cmake-build-debug-mingw_clang/assets/scenes/Sandbox.yaml

cmake-build-debug-mingw_clang/assets/scenes/SandboxAndroid.yaml

cmake-build-debug-mingw_clang/assets/shaders/core/debug/debugFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/debug/debugVertex.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/debug/gridFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/debug/gridVertex.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/framebuffer/FrameBufferFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/framebuffer/FrameBufferVertex.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/bloomFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/blurFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/fragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/glowFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/mirrorFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/mirrorVertex.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/outlineFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/textFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/core/texture/vertex.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/debug/debugFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/debug/debugVertex.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/framebuffer/FrameBufferFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/framebuffer/FrameBufferVertex.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/texture/bloomFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/texture/blurFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/texture/fragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/texture/glowFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/texture/outlineFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/texture/textFragment.glsl

cmake-build-debug-mingw_clang/assets/shaders/es/texture/vertex.glsl

cmake-build-debug-mingw_clang/assets/sounds/Explosion.ogg

cmake-build-debug-mingw_clang/assets/sounds/explosion.wav

cmake-build-debug-mingw_clang/assets/sounds/getout.ogg

cmake-build-debug-mingw_clang/assets/spriteSheets/test/square.json

cmake-build-debug-mingw_clang/assets/spriteSheets/test/square.png

cmake-build-debug-mingw_clang/assets/spriteSheets/test/ui.json

cmake-build-debug-mingw_clang/assets/spriteSheets/test/ui.png

cmake-build-debug-mingw_clang/assets/spriteSheets/test/ui.tps

cmake-build-debug-mingw_clang/assets/test/square.png

cmake-build-debug-mingw_clang/assets/test/test.png

cmake-build-debug-mingw_clang/assets/test/test2.png

cmake-build-debug-mingw_clang/assets/test/test3.png

cmake-build-debug-mingw_clang/assets/UI/UI0.png

cmake-build-debug-mingw_clang/assets/UI/UI1.png

cmake-build-debug-mingw_clang/brotlicommon.dll

cmake-build-debug-mingw_clang/brotlidec.dll

cmake-build-debug-mingw_clang/build.ninja

cmake-build-debug-mingw_clang/bz2d.dll

cmake-build-debug-mingw_clang/cmake_install.cmake

cmake-build-debug-mingw_clang/CMakeCache.txt

cmake-build-debug-mingw_clang/freetyped.dll

cmake-build-debug-mingw_clang/GDE.exe

cmake-build-debug-mingw_clang/GDE.pdb

cmake-build-debug-mingw_clang/imgui.ini

cmake-build-debug-mingw_clang/jpeg62.dll

cmake-build-debug-mingw_clang/libpng16d.dll

cmake-build-debug-mingw_clang/SDL2_image.dll

cmake-build-debug-mingw_clang/SDL2_mixerd.dll

cmake-build-debug-mingw_clang/SDL2d.dll

cmake-build-debug-mingw_clang/Testing/Temporary/LastTest.log

cmake-build-debug-mingw_clang/zlibd1.dll

cmake-build-release-mingw_clang/.cmake/api/v1/query/cache-v2

cmake-build-release-mingw_clang/.cmake/api/v1/query/cmakeFiles-v1

cmake-build-release-mingw_clang/.cmake/api/v1/query/codemodel-v2

cmake-build-release-mingw_clang/.cmake/api/v1/query/toolchains-v1

cmake-build-release-mingw_clang/.cmake/api/v1/reply/cache-v2-53413fdc93c9db75a2db.json

cmake-build-release-mingw_clang/.cmake/api/v1/reply/cmakeFiles-v1-51931a603257004f82a1.json

cmake-build-release-mingw_clang/.cmake/api/v1/reply/codemodel-v2-ff4264cd1882caffb73e.json

cmake-build-release-mingw_clang/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json

cmake-build-release-mingw_clang/.cmake/api/v1/reply/index-2022-08-12T23-36-15-0027.json

cmake-build-release-mingw_clang/.cmake/api/v1/reply/target-GDE-Release-d65e193e4599b2fb92aa.json

cmake-build-release-mingw_clang/.cmake/api/v1/reply/toolchains-v1-9308c8f498dca15d7bdf.json

cmake-build-release-mingw_clang/.ninja_deps

cmake-build-release-mingw_clang/.ninja_log

cmake-build-release-mingw_clang/brotlicommon.dll

cmake-build-release-mingw_clang/brotlidec.dll

cmake-build-release-mingw_clang/build.ninja

cmake-build-release-mingw_clang/bz2.dll

cmake-build-release-mingw_clang/cmake_install.cmake

cmake-build-release-mingw_clang/CMakeCache.txt

cmake-build-release-mingw_clang/freetype.dll

cmake-build-release-mingw_clang/GDE.exe

cmake-build-release-mingw_clang/jpeg62.dll

cmake-build-release-mingw_clang/libpng16.dll

cmake-build-release-mingw_clang/SDL2_image.dll

cmake-build-release-mingw_clang/SDL2_mixer.dll

cmake-build-release-mingw_clang/SDL2.dll

cmake-build-release-mingw_clang/Testing/Temporary/LastTest.log

cmake-build-release-mingw_clang/zlib1.dll

Debug/CMakeCache.txt
