[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "submodules/SDL_image"]
	path = submodules/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "submodules/SDL_mixer"]
	path = submodules/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "submodules/SDL_net"]
	path = submodules/SDL_net
	url = https://github.com/libsdl-org/SDL_net
[submodule "submodules/freetype"]
	path = submodules/freetype
	url = https://github.com/freetype/freetype
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/implot"]
	path = submodules/implot
	url = https://github.com/epezent/implot
[submodule "submodules/imguiTextEditor"]
	path = submodules/imguiTextEditor
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "submodules/imguiNodeEditor"]
	path = submodules/imguiNodeEditor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "submodules/imguiAddons"]
	path = submodules/imguiAddons
	url = https://github.com/gallickgunner/ImGui-Addons
[submodule "submodules/entt"]
	path = submodules/entt
	url = https://github.com/skypjack/entt
[submodule "submodules/box2d"]
	path = submodules/box2d
	url = https://github.com/erincatto/box2d
[submodule "submodules/Chipmunk2D"]
	path = submodules/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "submodules/libdecor"]
	path = submodules/libdecor
	url = https://gitlab.gnome.org/jadahl/libdecor.git
