RDE.10x

build/

test/

.idea

build_copy_deps.bat

tools/atlas_generator/test_dir/
tools/atlas_generator/test_dir_2/
tools/atlas_generator/test_dir_2/*.png

*.pdb
*/*.pdb

*.ilk
*/*.ilk

*.exe
*/*.exe

*.old

*.rdbg

tests/*.dll
tests/*.exe
tests/*.exp
tests/*.lib

.DS_Store

.cache/

.clangd

skate_or_dice/

examples/models/

examples/hub_assets/duck_yellow.png

examples/hub_assets/logo.ico

examples/hub_assets/fonts/
docs/config/Working Data/

docs/files/

docs/menu/

docs/NaturalDocs/

docs/other/

docs/search/

docs/styles/

docs/index.html
