RDE.10x

build/

test/

.idea

build_copy_deps.bat

tools/atlas_generator/test_dir/
tools/atlas_generator/test_dir_2/
tools/atlas_generator/test_dir_2/*.png

*.pdb
*/*.pdb

*.ilk
*/*.ilk

*.exe
*/*.exe

*.old

tests/*.dll
tests/*.exe
tests/*.exp
tests/*.lib

.DS_Store

.cache/